# Konfiguracja Bazy Danych
DB_HOST=localhost
DB_PORT=5432
DB_USER=kkbus_user
DB_PASSWORD=kkbus_pass
DB_NAME=kkbus_db

# JWT
JWT_SECRET=zmien-mnie-na-bezpieczny-klucz

# pgAdmin
PGADMIN_EMAIL=admin@kkbus.pl
PGADMIN_PASSWORD=admin123

